/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .header-list{
    display:  none;
  }
  
  .header-right{
    display:  none;
  }
  
  .menu-icon{
    display:  block;
  }
  
  .input{
    display:none;
  }
  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-list{
    display:  none;
  }
  
  .header-right{
    display:  none;
  }
  
  .menu-icon{
    display:  block;
  }
  
    .input{
    display:none;
  }
  
}