*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
    font-family: 'Poppins', sans-serif;
    
  }
  body{
      overflow-x: hidden;
    }
  .main-width{
      width: 1400px;
      max-width: 95%;
      margin: 0 auto;
  }
  /*bagian cart*/
  
  /*isi barang sepatu*/
  .shop-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, auto));
      gap: 1.5rem;
  }
  .product-box {
      position: relative;
  }
  .product-box:hover {
      padding: 10px;
      border: 1px solid bisque;
      transition: 0.7s;
  }
  .product-img{
      width: 100%;
      height: auto;
      margin-bottom: 1rem;

  }
  .shoes{
      height: 100%;
      width: 100%;
      min-height: 100vh;
      background: rgb(119, 119, 119)  no-repeat fixed center;
      position: relative;
    }
  .shoes header .logo h2 a{
      display: block;
      font-size: 32px;
      font-weight: 600;
      text-decoration: none;
      color: black;
  }
  .shoes header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px 0 30px;
    }
    nav ul li{
        list-style: none;
        display: inline-block;
    }
    nav ul li a{
        text-decoration:  none;
        color: black;
        margin-left: 60px;
        font-size: 15px;
        font-weight: 600;
        border-bottom: 2px solid transparent;
        transition: .5s;
    }
    nav ul li:not(:last-child) a:hover,
    nav ul li:not(:last-child) a:focus{
        border-bottom: 2px solid rgb(84, 191, 233);
    }
    nav ul li.active a{
        border-bottom: 2px solid rgba(126, 10, 10, 0.568);
    }
    nav ul li.btn a{
        background: rgb(196, 182, 182);
        color: rgb(0, 0, 0);
        border: 1px solid #9aa3a8;
        padding: 9px 20px;
        border-radius: 30px;
        line-height: 1.5;
        font-size: 14px;
        font-weight: 500;
        margin-left: 150px;
    }
    nav ul li.btn a:hover{
        border: 1px solid rgb(7, 212, 168);
        color: rgb(7, 212, 168);
        background: rgb(0, 0, 0);
        transition: .5s;
    }
    .content{
        padding-top: 140px;
    }
    .content .main-text{
        position: relative;
        z-index: 2;
        margin-bottom: 50px;
    }
    .content .main-text h6{
        font-size: 25px;
        font-weight: 400;
        color: rgb(207, 206, 206);
        margin-bottom: 100px;
    }
    .content .main-text h1{
        font-size: 22px;
        line-height: 1;
        color:rgb(236, 186, 214);
        margin: 0 0 45px;
        font-family: 'Permanent Marker', cursive;
    }
    .price{
        font-weight: bold;
    }
    .content .main-text h3{
        font-size: 18px;
        font-weight: 600;
        color: black;
    }
    .content .main-text p{
        max-width: 100%;
        width: 480px;
        color: black;
        line-height: 1.8;
        font-size: 15px;
        margin-bottom: 50px;
    }
    .content .main-text a{
        display: inline-block;
        text-decoration: none;
        color: black;
        background: rgb(126, 109, 109);
        border: 1px solid rgb(129, 99, 99);
        padding: 9px 25px;
        line-height: 1.4;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 500;
    }
    .content .main-text a:hover{
        transform: scale(1.1);
        border: 1px solid #3f3f3f;
        background: rgb(0, 0, 0);
        color: rgb(233, 162, 201);
        transition: .5s;
    }
    .content .main-text a.cta{
        border: 1px solid rgb(224, 136, 136);
        color:black;
        background: rgb(224, 136, 136);
        margin-left: 20px;
    }
    .content .main-text a.cta i{
        margin-right: 12px;
    }
    .content .main-text a.cta hover{
        color: black;
        background: turquoise;
        border: 1px solid turquoise;
        transition: .5s;
    }
    .content .social{
        position: relative;
        z-index: 2;
        margin-top: 200px;
        padding-bottom: 50px;
    }
    .content .social a{
        display: inline-block;
        color: #525150b2;
        margin-right: 30px;
        font-size: 28px;
    }
    .content .social a:hover{
        transform: scale(1.3);
        transition: .3s;
        color:rgb(3, 35, 82);
    }
    .image{
        position: absolute;
        width: 100%;
        height: 85%;
        bottom: 0;
        right: 0;
        text-align: right;
    }
    .image img{
        height: 100%;
    }
    }
